.blog-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #2a2a2a;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  flex: 0 1;
}

.blog-date__month {
  font-size: 0.75rem;
  font-weight: bold;
}

.blog-date__year {
  font-size: 0.75rem;
}

.blog-date__day {
  font-size: 1.5rem;
  font-weight: bold;
}
